<div>
  <table id="listOfNotes" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{ 'notes-list.thName' | translate }}</th>
        <th scope="col">{{ 'notes-list.thSurname' | translate }}</th>
        <th scope="col">{{ 'notes-list.thAge' | translate }}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let note of notes$ | async">
        <td>{{ note.name }}</td>
        <td>{{ note.surname }}</td>
        <td>{{ note.age }}</td>
        <td>
          <button (click)="showUpdateForm(note)" class="btn btn-primary" style="margin: 5px">{{ 'notes-list.btnTextUpdate' | translate }}</button>
          <button (click)="deleteNote(note.id)" class="btn btn-danger" style="margin: 5px">{{ 'notes-list.btnTextDelete' | translate }}</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="isUpdateActivated" style="margin-top: 50px; margin-left: 50px;">
    <h4>{{ 'notes-list.h4UpdateNote' | translate }}</h4>
    <form (ngSubmit)="updateNote(updateForm)" #updateForm="ngForm">
      <div class="form-group">
        <label for="name">{{ 'notes-list.labelName' | translate }}</label>
        <input type="text"
               id="name"
               name="name"
               class="form-control"
               required
               [(ngModel)]="noteToBeUpdated.name"
               style="width: 300px" />
      </div>
      <div class="form-group">
        <label for="surname">{{ 'notes-list.labelSurname' | translate }}</label>
        <input type="text"
               id="surname"
               name="surname"
               class="form-control"
               required
               [(ngModel)]="noteToBeUpdated.surname"
               style="width: 300px" />
      </div>
      <div class="form-group">
        <label for="age">{{ 'notes-list.labelAge' | translate }}</label>
        <input type="number"
               id="age"
               name="age"
               class="form-control"
               required
               [(ngModel)]="noteToBeUpdated.age"
               style="width: 200px" />
      </div>
      <button [disabled]="updateForm.invalid" class="btn btn-primary" type="submit">{{ 'notes-list.btnTextUpdateNote' | translate }}</button>
    </form>
  </div>
</div>
