<form (ngSubmit)="onSubmit(createForm)" #createForm="ngForm" style="margin: 5px">
  <div class="form-group">
    <label for="name">{{ 'create-note.labelName' | translate }}</label>
    <input type="text"
           id="name"
           name="name"
           class="form-control"
           ngModel
           required
           style="width: 300px" />
  </div>
  <div class="form-group">
    <label for="surname">{{ 'create-note.labelSurname' | translate }}</label>
    <input type="text"
           id="surname"
           name="surname"
           class="form-control"
           ngModel
           required
           style="width: 300px" />
  </div>
  <div class="form-group">
    <label for="age">{{ 'create-note.labelAge' | translate }}</label>
    <input type="number"
           id="age"
           name="age"
           class="form-control"
           ngModel
           required
           style="width: 200px" />
  </div>
  <button [disabled]="createForm.invalid" class="btn btn-primary" type="submit">{{ 'create-note.btnTextCreateNote' | translate }}</button>
</form>
